<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- 기본 문서 설정 -->
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
        
        <!-- JSON 파일 MIME 타입 설정 -->
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
        
        <!-- CORS 헤더 설정 (필요시) -->
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Content-Type" />
            </customHeaders>
        </httpProtocol>
        
        <!-- URL 재작성 (선택사항) -->
        <rewrite>
            <rules>
                <rule name="Recipe Detail" stopProcessing="true">
                    <match url="^recipe/([0-9]+)/?$" />
                    <action type="Rewrite" url="recipe_detail.html?id={R:1}" />
                </rule>
                <rule name="Category Pages" stopProcessing="true">
                    <match url="^category/([^/]+)/?$" />
                    <action type="Rewrite" url="recipes.html?category={R:1}" />
                </rule>
            </rules>
        </rewrite>
        
        <!-- 에러 페이지 설정 -->
        <httpErrors errorMode="Custom" defaultResponseMode="ExecuteURL">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" responseMode="ExecuteURL" path="/index.html" />
        </httpErrors>
    </system.webServer>
</configuration>



